#content-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(58, 58, 58, 0);
}

.task-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

#task-requirements__content {
    flex-direction: row;
    flex-grow: 1;
}
